extends baseEmail

block content
    p Name: #{firstname+" "+middlename+" "+lastname}
    p Mobile Number: #{mobile_number}
    p Account Number: #{accountNo}
    p Email: #{email}
    p Gender: #{gender}
    p Salutation: #{salutation}
    p Date of Birth: #{dob}
    p Phone Number: #{phoneNo}
    p Collect From Branch: #{collectFromBranch}
    p Address: #{address}
    p Citizenship Num: #{citizenshipNo}
    p Product Type: #{productType}
    p Card Type: #{cardType}
    p Pin Options: #{pinOptions}
    p Charge Profile: #{chargeProfile}