extends baseEmail

block content
    p Name: #{full_name}
    p Email: #{email_address}
    p Mobile Number: #{mobile_number}
    p Account Number: #{account_number}
    p Atm number: #{atm_number}
    p Title: #{title}
    p Category: #{category}
    p Problem: #{problem}
