extends baseEmail

block content
    p Email: #{email}
    p Mobile: #{mobileNumber}
    p Transaction Date: #{txnDate}
    p Device Type: #{deviceType}
    p Terminal Type: #{terminalType}
    p Terminal: #{terminal}
    p Detail: #{detail}
    p Dispute Type: #{disputeType}
    p Transaction Amount: #{txnAmount}
    p Claim Amount: #{claimAmount}
    p Requested Date: #{requestedDate}
    p cbsDescription2: #{cbsDescription2}
    p cbsDescription3: #{cbsDescription3}